@import "base";

body {
  // font-family:
  // Inter,
  // -apple-system,
  // BlinkMacSystemFont,
  // 'Segoe UI',
  // Roboto,
  // Oxygen,
  // Ubuntu,
  // Cantarell,
  // 'Fira Sans',
  // 'Droid Sans',
  // 'Helvetica Neue',
  // sans-serif;
  color: $color-text-dk;
  background-image: url('../img/bgs/blk-wht-wave.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  transition:
    color 0.5s,
    background-color 0.5s;
}

#app {
  position: relative;
  min-height: 100vh;
}

main {
  max-width: $max-width-primary;
  margin: auto;
}

// Blocks
.section {
  @include section;
}

.card {
  &--dk {
    @include card-dk;
  }

  &--lt {
    @include card-lt;
  }
}

.text-block {
  &--dk {
    @include text-block-dk;
    @include text-block-heading;
  }

  &--lt {
    @include text-block-lt;
    @include text-block-heading;
  }
}

// Elements
ul, ol {
  margin: auto auto 2rem;
}

li {
  margin: auto auto 0.75rem;
}

button {
  @include btn-reset;
}

// Link & Button state specific styles are defined and applied in mixin and typography files, respectively.
// BEM classes below are mostly for dev and testing purposes in the style guide.
// But they can double as utility classes if needed. 
.link {
  &--hover {
    @include link-hover;
  }

  &--active {
    @include link-active;
  }

  &--focus {
    @include link-focus;
  }

  &--visited {
    @include link-visited;
  }

  &--disabled {
    @include link-disabled;
  }
}

.btn {
  @include btn;

  &--primary {
    @include btn-primary;
  }
  
  &--secondary {
    @include btn-secondary;
  }

  &--focus {
    @include btn-focus;
  }

  &--active {
    @include btn-active;
  }
}

// Animates background gradients for headings and primary buttons
@keyframes bg-gradient-slide {
  from {
    background-position: left;
  }
  to {
    background-position: right;
  }
}
