/* color palette */
:root {
  /* Colors Isolated R,G,B values for common colors -- use example: `rgba(var(--blk-r-g-b), 0.5)` */
  --blk-r-g-b: 0,0,0;
  --wht-r-g-b: 255, 255, 255;
  --dodger-r-g-b: 30, 144, 255;
  --deep-sky-r-g-b: 0, 191, 255;
  --blue-r-g-b: 7, 7, 219;
  --midnight-r-g-b: 2, 2, 36;
  --marigold-r-g-b: 255, 215, 0;
  --or-red-r-g-b: 255, 69, 18;
  --red-r-g-b: 199, 19, 19;
  --violet-r-g-b: 255, 155, 255;
  --purple-r-g-b: 50, 0, 50;
  --lime-r-g-b: 0, 212, 0;
  --forest-r-g-b: 0, 77, 0;

  /* Preferred colors */
  --deep-sky: #00bfff;
  --dodger: #1e90ff;
  --blue: #0707db;
  --midnight: #020224;
  --marigold: #ffd000;
  --or-red: #ff4512;
  --red: #c71313;
  --violet: #ff9bff;
  --purple: #370037;
  --line: #00d400;
  --forest: #004d00;  
}

// Utility classes
.grid {
  &--2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: flex-start;
  }

  &--3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-content: flex-start;
  }
}

.flex {
  &--row {
    &--left {
      display: flex;
      flex-flow: row wrap;
      justify-content: left;
    }

    &--center {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
    }

    &--right {
      display: flex;
      flex-flow: row wrap;
      justify-content: right;
    }

    &--around {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-around;
    }

    &--between {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
    }

    &--evenly {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-evenly;
    }
  }

  &--colum {
    &--left {
      display: flex;
      flex-flow: column wrap;
      justify-content: left;
    }

    &--center {
      display: flex;
      flex-flow: column wrap;
      justify-content: center;
    }

    &--right {
      display: flex;
      flex-flow: column wrap;
      justify-content: right;
    }

    &--around {
      display: flex;
      flex-flow: column wrap;
      justify-content: space-around;
    }

    &--between {
      display: flex;
      flex-flow: column wrap;
      justify-content: space-between;
    }

    &--evenly {
      display: flex;
      flex-flow: column wrap;
      justify-content: space-evenly;
    }
  }
}

.flex-reverse {
  &--row {
    flex-direction: row-reverse;
  }

  &--column {
    flex-direction: column-reverse;
  }

  &--md {
    &--row {
      flex-direction: row-reverse;
    }
  
    &--column {
      flex-direction: column-reverse;
    }
  }
  
  &--lg {
    &--row {
      flex-direction: row-reverse;
    }
  
    &--column {
      flex-direction: column-reverse;
    }
  }
}

.gap {
  &--0-5 {
    gap: 0.5rem;
  }
  &--1 {
    gap: 1rem;
  }
  &--1-5 {
    gap: 1.5rem;
  }
  &--2 {
    gap: 2rem
  }
  &--2-5 {
    gap: 2.5rem;
  }
  &--3 {
    gap: 3rem;
  }
}

.pad {
  &--vert {
    &--claustrophobic {
      padding: 0.1rem 0;
    }

    &--tight {
      padding: 0.5rem 0;
    }

    &--cozy {
      padding: 1rem 0;
    }

    &--loose {
      padding: 2rem 0;
    }

    &--montana {
      padding: 4rem 0;
    }
  }

  &--horz {
    &--claustrophobic {
      padding: 0 0.1rem;
    }

    &--tight {
      padding: 0 0.5rem;
    }

    &--cozy {
      padding: 0 1rem;
    }

    &--loose {
      padding: 0 2rem;
    }

    &--montana {
      padding: 0 4rem;
    }
  }

  &--all {
    &--claustrophobic {
      padding: 0.1rem;
    }

    &--tight {
      padding: 0.5rem;
    }

    &--cozy {
      padding: 1rem;
    }

    &--loose {
      padding: 2rem;
    }

    &--montana {
      padding: 4rem;
    }
  }
}
