@use "../abstracts" as *;

html {
  background: #000;
}
body {
  color: $color-text-dk;
  background-image: url('@/assets/img/bgs/yy.svg'), linear-gradient(to right, #fff 49.8%, #000 49.9%);
  background-size: 101% auto, auto;
  background-position: center top, center;
  background-repeat: no-repeat, repeat-y;
  transition:
    color 0.5s,
    background-color 0.5s;
  @include md {
    background-image: url('@/assets/img/bgs/yy-lg.svg'), linear-gradient(to right, #fff 49.8%, #000 49.9%);
  }
}
#app {
  position: relative;
  min-height: 100vh;
  @include lg {
    // Offsetting center to account for desktop view sidebar
    padding-left: 119px;
  }
}
main {
  text-align: center;
  max-width: $max-width-primary;
  margin: auto;
  // Extra bottom padding to accommodate absolute positioned footer
  padding: 1.5rem 0 56px;
  @include md {
    padding: 1.5rem 2rem 56px;
  }
  @include lg {
    padding: 1.5rem 4rem 56px;
  }
}
