@import "variables";

// Style
// @mixin bipolar-brk-top {
//   border-top: 1px solid $color-bg-dk-glass-thick;
//   box-shadow: 0 -1px 0 $color-bg-lt-glass-thick;
// }

// @mixin bipolar-brk-bottom {
//   border-bottom: 1px solid $color-bg-dk-glass-thick;
//   box-shadow: 0 1px 0 $color-bg-lt-glass-thick;
// }

// Typography
@mixin heading {
  position: relative;
  font-family: $font-heading;
  font-weight: bold !important;
  margin-top: 1em;
  margin-bottom: 0.75em;
  padding: 0 0.5rem;

  @include lg {
    text-align: unset;
    padding: 0;
  }
}

@mixin heading-candy {
  color: transparent;
  background: $gradient-linear-text;
  background-size: 20%;
  background-clip: text;
  background-position: left;
  filter: drop-shadow(0 -1px 0 $color-text-lt) drop-shadow(0 2px 0 $color-text-dk);
  animation: bg-gradient-slide 187s ease-in-out alternate infinite;

  @include lg {
    background-size: 10%;
  }
}

@mixin heading-soothe {
  color: transparent;
  background: $gradient-linear-primary-btn;
  background-size: 20%;
  background-clip: text;
  background-position: left;
  filter: drop-shadow(0 -1px 0 $color-text-lt) drop-shadow(0 2px 0 $color-text-dk);
  animation: bg-gradient-slide 187s ease-in-out alternate infinite;

  @include lg {
    background-size: 10%;
  }
}

@mixin copy {
  font-family: $font-copy;
  text-align: left;
  max-width: 700px;
}

// LINKS --------------------------------------------------------------------------------------------------
@mixin link-hover {
  color: $color-deep-sky !important;
  filter: drop-shadow(0 1px 25px $color-deep-sky);
}

@mixin link-visited {
  &::after {
    content: "\2713";
    position: absolute;
    top: -5px;
    font-weight: bold;
    color: $color-success-lt;
    width: 10px;
    height: 10px;
    opacity: 0.3;
  }
}

@mixin link-active {
  color: $color-alert !important;
}

@mixin link-focus {
  outline: 1px solid $color-dodger;
}

@mixin link-focus-visible {
  border: 1px solid $color-deep-sky !important;
  outline: 1px solid $color-dodger;
}

@mixin link-disabled {
  pointer-events: none;
  text-decoration: line-through;
  color: $color-disabled-lt !important;
}

@mixin link {
  display: inline-block;
  position: relative;
  font-family: $font-copy;
  color: $color-text-link;
  text-shadow: 0 -0.75px 0 $color-bg-lt-glass-thin, 0 1px 0 $color-bg-dk-glass;
  border-radius: 5px;
  border-color: transparent;
  outline-offset: 3px;
  transition: 0.5s ease-in-out;
  &:visited {
    @include link-visited;
  }
  &:active {
    @include link-active;
  }
  &:focus {
    @include link-focus;
  }
  &:focus-visible {
    @include link-focus-visible;
  }
  @media (hover: hover) {
    &:hover {
      @include link-hover;
    }
  }
  &:disabled {
    @include link-disabled;
  }
}

// BUTTONS --------------------------------------------------------------------------------------
@mixin btn-hover {
  color: $color-deep-sky !important;
  border: 1px solid $color-deep-sky;
  filter: drop-shadow(0 5px 15px $color-bg-deep-sky-glass);
  box-shadow: 25px 12px 0 $color-bg-deep-sky-glass inset, -25px -10px 0 $color-bg-deep-sky-glass inset;
}

@mixin btn-active {
  color: $color-alert;
  border: 1px solid $color-alert;
}

@mixin btn-focus {
  color: $color-dodger;
  border: 1px solid $color-dodger;
}

@mixin btn-focus-visible {
  color: $color-dodger;
  border: 1px solid $color-deep-sky;
  outline: 3px solid $color-dodger;
  outline-offset: 2px;
}

@mixin btn-disabled {
  cursor: not-allowed;
  color: $color-disabled-dk;
  background: $color-disabled-lt;
  border: 1px solid transparent;
}

@mixin btn {
  position: relative;
  font-family: $font-cursive;
  font-size: 1rem;
  text-shadow: 0 -0.75px 0 $color-bg-lt-glass-thin, 0 1px 0 $color-bg-dk-glass;
  margin: auto;
  padding: 0.5rem;
  border-radius: 5px;
  transition: 0.5s ease-in-out;
  &:focus {
    @include btn-focus;
  }
  &:focus-visible {
    @include btn-focus-visible;
  }
  &:active {
    @include btn-active;
  }
  @media (hover: hover) {
    &:hover {
      @include btn-hover;
    }
  }
  &:disabled {
    @include btn-disabled;
    box-shadow: none;
  }
}

@mixin btn-before-after {
  pointer-events: none;
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 0.5rem;
}

@mixin btn-flourish {
  &::before {
    @include btn-before-after;
    top: 0;
    background: $gradient-linear-reflection;
    border-radius: 3px 3px 0 0;
  }

  &::after {
    @include btn-before-after;
    bottom: 0;
    background: $gradient-linear-shadow;
    border-radius: 0 0 3px 3px;
  }
}

@mixin btn-special {
  @include btn-flourish;
  width: 100%;
  padding: 0.75rem 1.5rem 1rem;
  @include md {
    min-width: 150px;
    max-width: 200px;
    min-height: 48px;
  }
}

@mixin btn-primary {
  @include btn-special;
  color: $color-text-lt;
  background: $color-blue;
  background: $gradient-linear-primary-btn;
  background-size: 700%;
  background-position: left;
  animation: bg-gradient-slide 10s ease-in-out alternate infinite;
}

@mixin btn-secondary {
  @include btn-special;
  color: $color-dodger;
  background: linear-gradient(to right, $color-bg-dk-glass-thinner, $color-bg-lt-glass-thinner 30%, $color-bg-lt-glass-thinner 70%, $color-bg-dk-glass-thinner);
  // background-size: 700%;
  // background-position: left;
  border: 1px solid $color-bg-lt-glass-thinner;
  border-top: 1px solid $color-bg-dk-glass-thinner;
  // animation: bg-gradient-slide 10s ease-in-out alternate infinite;
}

// Section ---------------------------------------------------------------------------------------------
@mixin section {
  width: 100%;
  margin: 3rem auto;
  padding: 0.5rem;
  border-top: 1px solid $color-bg-dk-glass-thinner;
  box-shadow: 0 -1px 0 $color-bg-lt-glass-thinner;
  transition: 0.7s ease-out;
  @include sm {
    padding: 1rem;
  }
  @include md {
    margin: 3rem auto 5rem;
    background: linear-gradient(to bottom left, $color-bg-lt-glass-thinner, transparent 20%, transparent 85%, $color-bg-dk-glass-thinner);
    border-radius: 1.75rem;
    border: 1px solid $color-bg-dk-glass-thinner;
    box-shadow: 0 1px 3px $color-bg-lt-glass-thinner, 0 -1px 3px $color-bg-lt-glass-thinner;
  }
}

@mixin section-main {
  margin: 1rem auto;
  @include md {
    display: flex;
    flex-flow: row nowrap;
    justify-content: left;
  }
}

@mixin section-hero {
  @include md {
    align-self: center;
    width: 30%;
  }
}

@mixin section-body {
  margin: 2rem auto;
  @include md {
    width: 70%;
    margin: 0 auto 1rem;
  }
}

@mixin section-supplemental {
  position: relative;
  @include md {
    width: 100%;
  }
}

// Cutout ---------------------------------------------------------------------------------------------
@mixin cutout {
  width: fit-content;
  margin: 1rem auto;
  padding: 0 0.5rem;
  border-radius: 0.75rem;
  @include sm {
    padding: 0 1rem;
    border-radius: 4rem;
  }
  @include md {
    padding: 0 1.5rem;
  }
}

@mixin cutout-lt {
  @include cutout;
  background: $color-wht;
  @include md {
    background: linear-gradient(to left, $color-wht 75%, transparent);
  }
  @include lg {
    text-align: left;
    padding: 0 3rem;
    margin-left: 0;
  }
}

@mixin cutout-lt-img {
  @include cutout-lt;
  padding: 1rem;
  border-radius: 4rem;
  @include sm {
    padding: 1rem;
  }
  @include md {
    background: $color-wht;
  }
  @include lg {
    margin: auto;
    padding: 1rem;
  }
}

@mixin cutout-lt-chubby {
  @include cutout-lt;
  padding: 1.5rem 1rem;
  @include sm {
    padding: 0.25rem 3rem;
  }
  @include lg {
    padding: 0.25rem 3rem;
  }
}

@mixin cutout-lt-fat {
  @include cutout-lt;
  padding: 2rem 1rem;
  @include sm {
    padding: 1.5rem 3rem;
  }
  @include lg {
    padding: 1.5rem 3rem;
  }
}

@mixin cutout-dk {
  @include cutout; 
  color: $color-text-lt;
  background: $color-blk;
  @include md {
    background: linear-gradient(to right, $color-blk 75%, transparent);
  }
  @include lg {
    text-align: left;
    margin-left: 0;
    padding: 0 3rem;
  }
}

@mixin cutout-dk-img {
  @include cutout-dk;
  padding: 1rem;
  border-radius: 4rem;
  @include sm {
    padding: 1rem;
  }
  @include md {
    background: $color-blk;
  }
  @include lg {
    margin: auto;
    padding: 1rem;
  }
}

@mixin cutout-dk-chubby {
  @include cutout-dk;
  padding: 1.5rem 1rem;
  @include sm {
    padding: 0.25rem 3rem;
  }
  @include lg {
    padding: 0.25rem 3rem;
  }
}

@mixin cutout-dk-fat {
  @include cutout-dk;
  padding: 1.5rem 1rem;
  @include sm {
    padding: 1.5rem 3rem;
  }
  @include lg {
    padding: 1.5rem 3rem;
  }
}

// Accordion ---------------------------------------------------------------------------------------------------
// @mixin accordion-back {
//   background-size: 500%;
//   background-position: left;
// }

@mixin accordion {
  border-radius: 0.85rem;
  border-top: 1px solid $color-bg-lt-glass-thinner;
  border: 1px solid $color-bg-dk-glass-thinner;
  box-shadow: 1px 1px 0 $color-bg-lt-glass-thinner, 0 -1px 0 $color-bg-lt-glass-thinner;
  transition: 0.7s ease-out;
  overflow: hidden;
}

// @mixin accordion-lt {
//   background: linear-gradient(70deg, transparent 45%, $color-bg-lt-glass-thick 50%, $color-bg-dk-glass-thin 55%, transparent 60%);
//   @include accordion-back;
// }

// @mixin accordion-dk {
//   background: linear-gradient(70deg, transparent 45%, $color-bg-lt-glass-thin 50%, $color-bg-dk-glass-thin 55%, transparent 60%);
//   @include accordion-back;
// }

// @mixin accordion-clr {
//   background: linear-gradient(70deg, transparent 45%, $color-bg-lt-glass-thinner 49%, $color-bg-dk-glass-thinner 51%, transparent 55%);
//   @include accordion-back;
// }

@mixin accordion-controller {
  padding-top: 0.4rem;
}

@mixin accordion-controller-clr {
  @include accordion-controller;
}

@mixin accordion-controller-lt {
  @include accordion-controller;
}

@mixin accordion-controller-dk {
  @include accordion-controller;
}

@mixin accordion-btn {
  position: absolute;
  width: 48px;
  height: 48px;
  transition: 0.5s;
  perspective: 200px;
  &:hover {
    color: $color-alert;
  }
}

@mixin accordion-btn-clr {
  @include accordion-btn;
  color: $color-dodger;
}

@mixin accordion-btn-lt {
  @include accordion-btn;
}

@mixin accordion-btn-dk {
  @include accordion-btn;
  color: $color-text-lt;
}

@mixin accordion-body {
}

@mixin accordion-body-clr {
  @include accordion-body;
  background: none;
}

@mixin accordion-body-lt {
  @include accordion-body;
  background: $color-bg-lt-glass-thicker;
  background: $gradient-radial-card-lt;
}

@mixin accordion-body-dk {
  @include accordion-body;
  color: $color-text-lt;
  background: $color-bg-dk-glass-thick;
  background: $gradient-radial-card-dk;
}

@mixin accordion-heading {
  border-bottom: 1px solid $color-bg-lt-glass-thinner;
  box-shadow: 0 1px 0 $color-bg-dk-glass-thinner;
  @include lg {
    text-align: left;
    padding: 0 1.70rem;
  }
}

@mixin accordion-text {
  padding: 0 1.25rem;
  @include sm{
    padding: 0 1.70rem;
  }
}

@mixin accordion-footer {
  padding: 0.1rem 1.25rem;
  margin-top: 1rem;
  border-top: 1px solid $color-bg-lt-glass-thinner;
  box-shadow: 0 -1px 0 $color-bg-dk-glass-thinner;
  @include sm{
    padding: 0.1rem 1.70rem;
  }
}

// Card -------------------------------------------------------------------------------------------------------------------------------------
@mixin card-box {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 0 0.5rem;

  @include sm {
    gap: 1rem;
    padding: 0 1rem;
    margin: 1rem auto;
  }
}

@mixin card {
  position: relative;
  width: 100%;
  margin: 0.75rem 0.1rem 1.5rem;
  border-radius: 0.75rem;
  box-shadow: 1px 1px 0 $color-bg-lt-glass-thinner, -1px -1px 0 $color-bg-lt-glass-thinner;
  overflow: hidden;
  transition: 0.5s;
  backdrop-filter: blur(5px);
  @include sm {
    min-width: 250px;
    width: 45%;
    margin: 0;
    flex-grow: 1;
  }
  @include md {
    width: 25%
  }
  // @media (hover: hover) {
  //   &:hover {
  //     box-shadow: 3px 3px 5px $color-bg-dk-glass-thin;
  //   }
  // }
}

@mixin card-red {
  background: linear-gradient(to top, $color-bg-alert-glass, $color-bg-special-glass);
  border: 1px solid $color-bg-special-dk-glass;
}

@mixin card-green {
  background: linear-gradient(to top, $color-bg-success-glass, $color-bg-warning-glass);
  border: 1px solid $color-bg-success-dk-glass;
}

@mixin card-blue {
  background: linear-gradient(to top, $color-bg-blue-glass, $color-bg-deep-sky-glass);
  border: 1px solid $color-bg-midnight-glass;
}

@mixin card-yellow {
  background: linear-gradient(to top, $color-bg-warning-dk-glass, $color-bg-warning-lt-glass);
  border: 1px solid $color-bg-dirty-glass;
}

@mixin card-lt {
  color: $color-text-dk;
  background: linear-gradient(to top, $color-bg-lt-glass-thicker, $color-bg-lt-glass-thick);
  border: 1px solid $color-bg-dk-glass-thinner;
  box-shadow: 1px 1px 0 $color-bg-lt-glass-thinner, -1px -1px 0 $color-bg-lt-glass-thinner;
}

@mixin card-clr {
  color: $color-dodger;
  background: linear-gradient(to top, $color-bg-dk-glass-thinner, $color-bg-lt-glass-thinner);
  border: 1px solid $color-bg-dk-glass-thinner;
  box-shadow: 1px 1px 0 $color-bg-lt-glass-thinner, -1px -1px 0 $color-bg-lt-glass-thinner;
  text-shadow: 0 1px 0 $color-bg-dk-glass-thicker, 0 -1px 0 $color-bg-lt-glass-thin;
}

@mixin card-dk {
  color: $color-text-lt;
  background: linear-gradient(to top, $color-bg-dk-glass-thicker, $color-bg-dk-glass-thick);
  border: 1px solid $color-bg-dk-glass-thinner;
  box-shadow: 1px 1px 0 $color-bg-lt-glass-thinner, -1px -1px 0 $color-bg-lt-glass-thinner;
}

@mixin card-main {}

@mixin card-body {}

@mixin card-heading {
  padding: 0.1rem 1rem;
}

@mixin card-heading-red {
  color: rgba(255, 255, 255, 0.95);
  text-shadow: 0 -1px 0 $color-bg-alert-glass, 0 1px 0 $color-error;
  background: linear-gradient(to right, $color-bg-error-glass, $color-bg-alert-glass);
  border-bottom: 1px solid $color-bg-special-dk-glass;
}

@mixin card-heading-green {
  color: rgba(255, 255, 255, 0.95);
  text-shadow: 0 -1px 0 $color-bg-success-glass, 0 1px 0 $color-success-dk;
  background: linear-gradient(to right, $color-bg-success-dk-glass, $color-bg-success-glass);
  border-bottom: 1px solid $color-bg-success-dk-glass;
}

@mixin card-heading-blue {
  color: rgba(255, 255, 255, 0.95);
  text-shadow: 0 -1px 0 $color-bg-blue-glass, 0 1px 0 $color-blue;
  background: linear-gradient(to right, $color-bg-midnight-glass, $color-bg-blue-glass);
  border-bottom: 1px solid $color-bg-midnight-glass;
}

@mixin card-heading-yellow {
  color: rgba(255, 255, 255, 0.95);
  text-shadow: 0 -1px 0 $color-bg-warning-lt-glass, 0 1px 0 $color-dirty;
  background: linear-gradient(to right, $color-bg-dirty-glass, $color-bg-warning-dk-glass);
  border-bottom: 1px solid $color-bg-dirty-glass;
}

@mixin card-heading-lt {
  background: linear-gradient(to right, $color-bg-lt-glass-thicker, $color-bg-lt-glass-thinner);
  border-bottom: 1px solid $color-bg-dk-glass-thinner;
}

@mixin card-heading-clr {
  background: linear-gradient(to right, $color-bg-dk-glass-thinner, $color-bg-lt-glass-thinner);
  border-bottom: 1px solid $color-bg-lt-glass-thinner;
  box-shadow: 0 1px 0 $color-bg-dk-glass-thinner;
}

@mixin card-heading-dk {
  background: linear-gradient(to right, $color-bg-dk-glass-thicker, $color-bg-dk-glass-thick);
  border-bottom: 1px solid $color-bg-lt-glass-thinner;
}

@mixin card-text {
  display: none;
  @include md {
    display: block;
    padding-left: 1rem;
  }
}

@mixin card-footer {
  display: none;
  @include md {
    display: block;
    padding-left: 1rem;
  }
}

@mixin card-drawer {
  div {
    border: none;
    box-shadow: none;
  }
}

// Media queries
@mixin sm {
  @media (min-width: #{$mobile-brk}) {
    @content;
  }
}

@mixin md {
  @media (min-width: #{$tablet-brk}) {
    @content;
  }
}

@mixin lg {
  @media (min-width: #{$desktop-brk}) {
    @content;
  }
}

@mixin lg-down {
  @media (max-width: #{$desktop-brk}) {
    @content;
  }
}

@mixin xl {
  @media (min-width: #{$xl-brk}) {
    @content;
  }
}
