@import "variables";
// Style
// @mixin bipolar-brk-top {
//   border-top: 1px solid $color-bg-dk-glass-thick;
//   box-shadow: 0 -1px 0 $color-bg-lt-glass-thick;
// }

// @mixin bipolar-brk-bottom {
//   border-bottom: 1px solid $color-bg-dk-glass-thick;
//   box-shadow: 0 1px 0 $color-bg-lt-glass-thick;
// }
// Typography --------------------------------------------------------------------------------------------------------------------------
@mixin heading {
  position: relative;
  font-family: $font-heading;
  font-weight: bold;
  margin-top: 1em;
  margin-bottom: 0.75em;
  padding: 0 0.5rem;
  @include lg {
    text-align: unset;
    padding: 0;
  }
}
@mixin heading-candy {
  color: transparent;
  background: $gradient-linear-text;
  background-size: 30%;
  background-clip: text;
  background-position: left;
  filter: drop-shadow(0 -1px 0 $color-text-lt) drop-shadow(0 2px 0 $color-text-dk);
  animation: bg-gradient-slide 100s ease-in-out alternate infinite;
  // @include lg {
  //   background-size: 10%;
  // }
}
@mixin heading-soothe {
  color: transparent;
  background: $gradient-linear-primary-btn;
  background-size: 20%;
  background-clip: text;
  background-position: left;
  filter: drop-shadow(0 -1px 0 $color-text-lt) drop-shadow(0 2px 0 $color-text-dk);
  animation: bg-gradient-slide 100s ease-in-out infinite;
  @include lg {
    background-size: 10%;
  }
}
// Animates background gradients for headings and primary buttons
@keyframes bg-gradient-slide {
  from {
    background-position: left;
  }
  to {
    background-position: right;
  }
}
@mixin copy {
  font-family: $font-copy;
  text-align: left;
  max-width: 700px;
}
// LINKS -------------------------------------------------------------------------------------------------------------------
@mixin link-hover {
  box-shadow: 1px 0 3px $color-bg-deep-sky-glass-lt inset, -1px 0 3px $color-bg-alert-glass-lt inset;
  &::before {
    background-image: 
    conic-gradient(at 0% 0%, transparent 0deg, transparent 90deg, $color-bg-dodger-glass, transparent 180deg), 
    conic-gradient(at 100% 0%, transparent 0deg, transparent 180deg, $color-bg-alert-glass-lt, transparent 270deg);
    animation: lights-on 0.3s ease-out forwards;
  }
}
@keyframes lights-on {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
@mixin link-visited {
  &::after {
    content: "\2713";
    position: absolute;
    top: -5px;
    font-weight: bold;
    color: $color-success-lt;
    width: 10px;
    height: 10px;
    opacity: 0.3;
  }
}
@mixin link-active {
  color: $color-alert;
}
@mixin link-focus {
  outline: 1px solid $color-dodger;
}
@mixin link-focus-visible {
  border: 1px solid $color-deep-sky;
  outline: 1px solid $color-dodger;
}
@mixin link-disabled {
  pointer-events: none;
  text-decoration: line-through;
  color: $color-disabled-lt;
}
@mixin link {
  display: inline-block;
  position: relative;
  font-family: $font-copy;
  color: $color-text-link;
  text-shadow: 0 -0.75px 0 $color-bg-lt-glass-thin, 0 1px 0 $color-bg-dk-glass;
  border-radius: 0.5rem;
  border-color: transparent;
  outline-offset: 3px;
  transition: 0.3s ease-in-out;
  &::before {
    content: "";
    position: absolute;
    top: -5px;
    left: 0;
    width: 100%;
    height: calc(100% + 0.1rem);
    padding: 1rem;
    border-radius: 0 0 0.5rem 0.5rem;
    opacity: 0;
    transition: 0.4s;
  }
  
  &:visited {
    @include link-visited;
  }
  &:active {
    @include link-active;
  }
  &:focus {
    @include link-focus;
  }
  &:focus-visible {
    @include link-focus-visible;
  }
  @media (hover: hover) {
    &:hover {
      @include link-hover;
    }
  }
  &:disabled {
    @include link-disabled;
  }
}
// BUTTONS ---------------------------------------------------------------------------------------------------------
@mixin btn-hover {
  color: $color-deep-sky;
  border: 1px solid $color-deep-sky;
  filter: drop-shadow(0 5px 15px $color-bg-deep-sky-glass);
  box-shadow: 0.5rem 12px 0 $color-bg-dodger-glass inset, -0.5rem -10px 0 $color-bg-alert-glass inset;
}
@mixin btn-active {
  color: $color-alert;
  border: 1px solid $color-alert;
}
@mixin btn-focus {
  color: $color-dodger;
  border: 1px solid $color-dodger;
}
@mixin btn-focus-visible {
  color: $color-dodger;
  border: 1px solid $color-deep-sky;
  outline: 3px solid $color-dodger;
  outline-offset: 2px;
}
@mixin btn-disabled {
  cursor: not-allowed;
  color: $color-disabled-dk;
  background: $color-disabled-lt;
  border: 1px solid transparent;
}
@mixin btn {
  position: relative;
  font-family: $font-cursive;
  font-size: 1rem;
  text-shadow: 0 -0.75px 0 $color-bg-lt-glass-thin, 0 1px 0 $color-bg-dk-glass;
  margin: auto;
  padding: 0.5rem;
  border-radius: 5px;
  transition: 0.5s ease-in-out;
  &:focus {
    @include btn-focus;
  }
  &:focus-visible {
    @include btn-focus-visible;
  }
  &:active {
    @include btn-active;
  }
  @media (hover: hover) {
    &:hover {
      @include btn-hover;
    }
  }
  &:disabled {
    @include btn-disabled;
    box-shadow: none;
  }
}
@mixin btn-before-after {
  pointer-events: none;
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 0.5rem;
}
@mixin btn-flourish {
  &::before {
    @include btn-before-after;
    top: 0;
    background: $gradient-linear-reflection;
    border-radius: 3px 3px 0 0;
  }
  &::after {
    @include btn-before-after;
    bottom: 0;
    background: $gradient-linear-shadow;
    border-radius: 0 0 3px 3px;
  }
}
@mixin btn-special {
  @include btn-flourish;
  width: 100%;
  padding: 0.75rem 1.5rem 1rem;
  @include md {
    min-width: 150px;
    max-width: 200px;
    min-height: 48px;
  }
}
@mixin btn-primary {
  @include btn-special;
  color: $color-text-lt;
  background: $color-blue;
  background: $gradient-linear-primary-btn;
  background-size: 700%;
  background-position: left;
  animation: bg-gradient-slide 10s ease-in-out alternate infinite;
}
@mixin btn-secondary {
  @include btn-special;
  color: $color-dodger;
  background: linear-gradient(to right, $color-bg-dk-glass-thinner, $color-bg-lt-glass-thinner 30%, $color-bg-lt-glass-thinner 70%, $color-bg-dk-glass-thinner);
  // background-size: 700%;
  // background-position: left;
  border: 1px solid $color-bg-lt-glass-thinner;
  border-top: 1px solid $color-bg-dk-glass-thinner;
  // animation: bg-gradient-slide 10s ease-in-out alternate infinite;
}

// Cutout ------------------------------------------------------------------------------------------------------------
@mixin cutout {
  width: fit-content;
  margin: 1rem auto;
  padding: 0 0.5rem;
  border-radius: 0.75rem;
  @include sm {
    padding: 0 1rem;
    border-radius: 4rem;
  }
  @include md {
    padding: 0 1.5rem;
  }
}
@mixin cutout-lt {
  @include cutout;
  background: $color-wht;
  @include md {
    background: linear-gradient(to left, $color-wht);
  }
  @include lg {
    text-align: left;
    padding: 0 3rem;
    margin-left: 0;
  }
}
@mixin cutout-lt-img {
  @include cutout-lt;
  padding: 1rem;
  border-radius: 5rem;
  @include sm {
    padding: 1rem;
    border-radius: 5rem;
  }
  @include md {
    background: $color-wht;
  }
  @include lg {
    margin: auto;
    padding: 1rem;
  }
}
@mixin cutout-lt-chubby {
  @include cutout-lt;
  padding: 1.5rem 1rem;
  @include sm {
    padding: 0.25rem 3rem;
  }
  @include lg {
    padding: 0.25rem 3rem;
  }
}
@mixin cutout-lt-fat {
  @include cutout-lt;
  padding: 2rem 1rem;
  @include sm {
    padding: 1.5rem 3rem;
  }
  @include lg {
    padding: 1.5rem 3rem;
  }
}
@mixin cutout-dk {
  @include cutout; 
  color: $color-text-lt;
  background: $color-blk;
  @include md {
    background: linear-gradient(to right, $color-blk);
  }
  @include lg {
    text-align: left;
    margin-left: 0;
    padding: 0 3rem;
  }
}
@mixin cutout-dk-img {
  @include cutout-dk;
  padding: 1rem;
  border-radius: 5rem;
  @include sm {
    border-radius: 5rem;
    padding: 1rem;
  }
  @include md {
    background: $color-blk;
  }
  @include lg {
    margin: auto;
    padding: 1rem;
  }
}
@mixin cutout-dk-chubby {
  @include cutout-dk;
  padding: 1.5rem 1rem;
  @include sm {
    padding: 0.25rem 3rem;
  }
  @include lg {
    padding: 0.25rem 3rem;
  }
}
@mixin cutout-dk-fat {
  @include cutout-dk;
  padding: 1.5rem 1rem;
  @include sm {
    padding: 1.5rem 3rem;
  }
  @include lg {
    padding: 1.5rem 3rem;
  }
}
// Card -------------------------------------------------------------------------------------------------------------------------------------
@mixin card-box {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 0 0.5rem;
  @include sm {
    gap: 1rem;
    padding: 0 1rem;
    margin: 1rem auto;
  }
}
// Media queries -----------------------------------------------------------------------------------------------------------------------------
@mixin sm {
  @media (min-width: #{$mobile-brk}) {
    @content;
  }
}
@mixin sm-md-mid {
  @media (min-width: #{$mob-tab-mid-brk}) {
    @content;
  }
}
@mixin md {
  @media (min-width: #{$tablet-brk}) {
    @content;
  }
}
@mixin lg {
  @media (min-width: #{$desktop-brk}) {
    @content;
  }
}
@mixin lg-down {
  @media (max-width: #{$desktop-brk}) {
    @content;
  }
}
@mixin xl {
  @media (min-width: #{$xl-brk}) {
    @content;
  }
}
