// Dimensions
$max-width-primary: 1224px;

// Breakpoints
$tablet-brk: 768px;
$desktop-brk: 1024px;
$xl-brk: $max-width-primary;

// Typography
$font-heading: Georgia, Garamond, 'Times New Roman', serif;
$font-copy: Tahoma, Trebuchet, Verdana, Arial, sans-serif;
$font-code: 'Courier New', monospace;
$font-cursive: 'Brush Script MT', cursive;

// Colors
$color-wht: #fff;
$color-dodger: #1e90ff;
$color-blue: #0707db;
$color-midnight: #020224;
$color-warning: #ffd000;
$color-alert: #ff320e;
$color-error: #c71313;
$color-success-lt: #00d400;
$color-success-dk: #004d00;
$color-special-lt: #ff9bff;
$color-special-dk: #4a06b8;
$color-disabled-lt: #969696;
$color-disabled-dk: #1d1c1f;
$color-blk: #000;

// Typography colors
$color-text-lt: #f8f8f8;
$color-text-dk: #111;
$color-text-link: $color-dodger;
$color-text-link-hover: $color-alert;

// Background colors
$color-bg-lt-glass-lt: rgba(var(--wht-r-g-b), 0.3);
$color-bg-lt-glass: rgba(var(--wht-r-g-b), 0.5);
$color-bg-lt-glass-dk: rgba(var(--wht-r-g-b), 0.7);
$color-bg-dk-glass-lt: rgba(var(--blk-r-g-b), 0.3);
$color-bg-dk-glass: rgba(var(--blk-r-g-b), 0.5);
$color-bg-dk-glass-dk: rgba(var(--blk-r-g-b), 0.7);
$color-bg-lt: $color-text-lt;
$color-bg-dk: $color-text-dk;

// Gradients
$gradient-radial-card-lt: radial-gradient(ellipse, $color-bg-lt , $color-bg-lt-glass);
$gradient-radial-card-dk: radial-gradient(circle, $color-bg-dk, $color-bg-dk-glass);
$gradient-radial-nav: radial-gradient(circle at bottom, $color-bg-dk, $color-bg-dk-glass);
$gradient-linear-text: linear-gradient(to right, $color-dodger 5%, $color-blue 20%, $color-special-dk 35%, $color-alert 50%, $color-warning 60%, $color-alert 70%, $color-special-dk 80%, $color-dodger 95%);
$gradient-linear-primary-btn: linear-gradient(to right, $color-midnight, $color-blue 10%, $color-special-dk 50%, $color-blue 90%, $color-midnight 100%);
$gradient-linear-reflection: linear-gradient(to bottom, $color-bg-lt-glass, transparent 75%);
$gradient-linear-shadow: linear-gradient(to top, $color-bg-dk-glass, transparent 75%);
