// Typography
$font-heading: Georgia, Garamond, 'Times New Roman', serif;
$font-copy: Tahoma, Trebuchet, Verdana, Arial, sans-serif;
$font-code: 'Courier New', monospace;
$font-cursive: 'Brush Script MT', cursive;
