@import './reset.css';

/* color palette */
:root {
  /* Isolated R,G,B values for common colors -- use example: `rgba(var(--blk-r-g-b), 0.5)` */
  --blk-r-g-b: 0,0,0;
  --wht-r-g-b: 255, 255, 255;
  --dodger-r-g-b: 30, 144, 255;
  --deep-sky-r-g-b: 0, 191, 255;
  --blue-r-g-b: 7, 7, 219;
  --midnight-r-g-b: 2, 2, 36;
  --sun: 255, 215, 0;
  --or-red-r-g-b: 255, 69, 18;
  --red-r-g-b: 199, 19, 19;
  --violet-r-g-b: 255, 155, 255;
  --purple-r-g-b: 50, 0, 50;
  --lime-r-g-b: 0, 212, 0;
  --forest-r-g-b: 0, 77, 0;

  /* Shades */
  --blk: #000;
  --blk-soft: #111111;
  --blk-mute: #282828;
  --wht-full: #fff;
  --wht-soft: #f8f8f8;
  --wht-mute: #f2f2f2;

  /* Preferred colors */
  --deep-sky: #00bfff;
  --dodger: #1e90ff;
  --blue: #0707db;
  --midnight: #020224;
  --yellow: #ffd000;
  --or-red: #ff4512;
  --red: #c71313;
  --violet: #ff9bff;
  --purple: #370037;
  --line: #00d400;
  --forest: #004d00;

  /* Utility colors */
  --divider-lt-1: rgba(60, 60, 60, 0.29);
  --divider-lt-2: rgba(60, 60, 60, 0.12);
  --divider-dk-1: rgba(84, 84, 84, 0.65);
  --divider-dk-2: rgba(84, 84, 84, 0.48);

  /* Typography colors */
  --text-lt-1: var(--wht-soft);
  --text-lt-2: var(--wht-mute);
  --text-dk-1: var(--blk);
  --text-dk-2: var(--blk-soft);

  --color-link: var(--dodger);
  --color-link-hover: var(--red-or);

  --body-bg-1: var(--midnight);
  --body-bg-2: var(--midnight);
  --body-bg-3: var(--blk);
  
}

/* semantic color variables for this project */
:root {
  --color-background: var(--wht);
  --color-background-soft: var(--wht-soft);
  --color-background-mute: var(--wht-mute);

  --color-border: var(--divider-lt-2);
  --color-border-hover: var(--divider-lt-1);

  --color-heading: var(--text-dk-1);
  --color-text: var(--text-dk-1);

  --section-gap: 160px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--blk);
    --color-background-soft: var(--blk-soft);
    --color-background-mute: var(--blk-mute);

    --color-border: var(--divider-dk-2);
    --color-border-hover: var(--divider-dk-1);

    --color-heading: var(--text-lt-1);
    --color-text: var(--text-lt-2);
  }
}
